<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>
    <p>
      Splurty was built by <a target="_blank" href="http://github.com/jonianven">Jonamir Ian Ventura</a>. He is looking for a career change as a full-stack web developer. 
    </p>
    <p>
      This project is one of five fully functional web apps that he built with the Firehose Project coding bootcamp.  
    </p>
    <p>
      If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
    </p>
    <br />
    <br />

    <div class="col-xs-12 col-sm-4">
      <%= image_tag 'jonamir.jpg', class: 'img-responsive' %>
    </div>

    <div class="col-xs-12 col-sm-7 col-sm-offset-1">
      <h2 class="text-center">Jonamir Ian Ventura</h2>
      <br />
      <p>
        Jonamir is a freelance photographer and web designer. He was previously an IT Consultant in the promotional merchandising industry -- helping users with their PC hardware and software issues, in addition to frontend web development for online stores. He graduated from UC Berkeley's Class of 2011 with a BA in psychology and social welfare. 
      </p>
    </div>
    <br class="clear" />
    <br />
    <br />
    <br />
    <br />
</div>